@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');

:root {
  font-family: 'Inter', sans-serif;
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }
  body {
    -webkit-print-color-adjust: exact;
  }
  .no-print {
    display: none !important;
  }
  main {
    padding: 0 !important;
    background: white !important;
  }
  #resume-preview {
    box-shadow: none !important;
    width: 100% !important;
    height: 100% !important;
  }
}

/* Custom Scrollbar for Editor */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}